.profile1 {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background: #333;
}

.profile2 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 23px;
    line-height: 23px;
}

.searchText1 {
    border-color: transparent;
    border-radius: 4px;
    height: 35px;
    width: 140%;
    background-image: url("../../assets/images/search.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    margin-top: 15px;
    font-size: 16px;
    padding: 12px 20px 12px 30px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.dropdown1 {
    position: absolute;
    top: 100%;
    display: flex;
    right: -1px;
    height: fit-content;
    width: 150px;
    z-index: 999;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%);
    flex-direction: column;
}

.ul1 {
    justify-content: space-between;
    padding-left: 0;
}

.li1 {
    padding: 8px 12px;
    position: absolute;
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%);
}